<style>
  .bg01 {background: url("<%= asset_path('buncyo5.jpg') %>") #555C2A no-repeat bottom right/ contain;}
 </style>



<div class="container-fluid my-5 bg01">
 <div class="row py-5 px-5 ">
  <div class="rounded border col-md-8 bg-white pb-3">
    <div class="border px-5 my-3 bg-light text-dark text-center">

<h2 class="mt-3">回答投稿</h2>
   </div>
   
   
<p>＝質問内容＝</p>
<!-- -->
<p><%= @question.question_content %></p> 

<%= form_with(model: [@question, @answer], local: true) do |f| %>
  <div class="form-group">
  <label>回答文</label>
  <%= f.text_area :answer_content, class:"form-control body"%>
 </div>  
 <div class="form-group">
 <label>画像</label>
  <%= f.file_field :image, placeholder: "画像", accept: "image/*",class:"body"%>
 </div>
 <div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <%= f.submit '投稿',class:"btn btn-success me-md-2" %>
   </div>
<% end %>

</div>

</div>
</div>