<style>
  .bg01 {background: url("<%= asset_path('buncyo5.jpg') %>") #555C2A no-repeat bottom right/ contain;}
 </style>



<div class="container-fluid my-5 bg01">
 <div class="row py-5 px-5 ">
  <div class="border col-md-8 bg-white pb-3">
    <div class="border px-5 my-3 bg-light text-dark text-center">

<h2 class="mt-3">質問投稿</h2>
    </div>
    
<%= form_with model: @question do |f| %>
  <div class="form-group">
  <label>質問文</label>
  <%= f.text_area :question_content, class:"form-control book_body"%>
 </div>  
 <div class="form-group">
 <label>画像</label>
  <%= f.file_field :image, placeholder: "画像", accept: "image/*",class:"book_body"%>
 </div>
 <div>
  <label>質問カテゴリー</label><br />
  <div class="mt-3 mx-3">
   <%= f.radio_button :category_method, "before" %>
   <%= f.label :category_method_before, "お迎え前" %><br />
   <%= f.radio_button :category_method, "breeding" %>
   <%= f.label :category_method_breeding, "飼育方法" %><br /> 
   <%= f.radio_button :category_method, "knowledge" %>
   <%= f.label :category_method_knowledge, "知識" %><br />
   <%= f.radio_button :category_method, "food" %>
   <%= f.label :category_method_food, "食・健康" %><br /> 
   <%= f.radio_button :category_method, "illness" %>
   <%= f.label :category_method_illness, "病気・ケガ" %><br /> 
   <%= f.radio_button :category_method, "others" %>
   <%= f.label :category_method_others, "その他" %> <br /> 
  </div>
 </div>
 <div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <%= f.submit '投稿',class:"btn btn-success me-md-2" %>
   </div>
<% end %>

</div>

</div>
</div>