<div class="container px-5 px-sm-0">
 <div class="row">
  <div class="col-md-8">

   <table class="table">

    <tbody>
          <tr>
           <td><%= link_to user_path(@question.user.id) do %>
                <!-- <　%= image_tag @question.user.get_profile_image(100,100) %><br> -->
                <%= @question.user.name %>
               <% end %></td>
          </tr>
          <tr>
           <td><!--<　%= link_to question_path(@question.id) do %>　-->
                <%= @question.question_content %>
               <!-- <　% end %>--></td> </tr>
               <tr>
              <td>
              <%= image_tag @question.get_image %>
              </tr>
              <tr><td>
               <%= @question.created_at.strftime('%Y/%m/%d') %></td>
              </tr>

              <% if @question.user == current_user %>
            <tr><td>
              <%= link_to question_path(@question.id), method: :delete, data: {confirm: "削除しますか？"}  do %>
              <i class="fa-solid fa-trash-can"></i>
              <% end %></td>
              </tr>
              <% end %>

       </tbody>
     </table>

     <div class="row">
    <%= link_to  new_question_answer_path(@question.id),class:"btn btn-outline-secondary btn-block" do %>
    <!-- <i class="fa-solid fa-user-gear"></i>-->
    回答
    <% end %>
    </div>

         <% @question.answers.each do |answer| %>
          <%= answer.user.name %>
          <%= answer.answer_content %>
     　   <% if answer.user == current_user %>
           <%= link_to question_answer_path(answer.id), method: :delete, data: {confirm: "削除しますか"}  do %>
           <i class="fa-solid fa-trash-can"></i>
           <% end %>
       　 <% end %>
       　 　 <% if @question.user == current_user %>
             <%= form_with method: :post, model: [@question, answer, AnswerComment.new] do |f| %>
             <%= f.text_area :comment,  placeholder: "返信文をここに入力" %>
             
             
      <div id="post_raty"></div> <!-- 星を出力するセレクタ -->
        <%# if answer_comment.id.nil? %> <!-- 新規投稿か判別 -->
      <script>
          var elem = document.querySelector('#post_raty');
          var opt = {
              starOn: "<%= asset_path('star-on.png') %>",
              starOff: "<%= asset_path('star-off.png') %>",
              scoreName: 'answer_comment[star]',
          };
                    raty(elem,opt);
      </script>
         <%# else %>
          <%#= render "output_star", answer_comment: answer_comment %>
        <%# end %>
                <%= f.submit "送信する" %>
               <% end %>
              <% end %>

            <% answer.answer_comments.each do |answer_comment| %>
               <%= answer_comment.user.name %>
               <%= answer_comment.created_at.strftime('%Y/%m/%d') %>
               <div id="post_raty"></div>
               <%= render "output_star", answer_comment: answer_comment %>
               <%= answer_comment.comment %>
             <% if answer_comment.user == current_user %>
               <%= link_to answer_comment_path(answer_comment.id), method: :delete, data: {confirm: "削除しますか"} do %>
                <i class="fa-solid fa-trash-can"></i>
               <% end %>
             <% end %>

            　<% end %>
          <% end %>


    </div>
  </div>
</div>