<div class="container px-5 px-sm-0">
 <div class="row">
  <div class="col-md-8">

   <table class="table">
   
    <tbody>
          <tr>
           <td><%= link_to user_path(@question.user.id) do %>
                <!-- <　%= image_tag @question.user.get_profile_image(100,100) %><br> -->
                <%= @question.user.name %>
               <% end %></td>
          </tr>
          <tr>
           <td><!--<　%= link_to question_path(@question.id) do %>　-->
                <%= @question.question_content %>
               <!-- <　% end %>--></td> </tr>
               <tr>
              <td>
              <%= image_tag @question.get_image %>
              </tr>
              <tr><td>
               <%= @question.created_at.strftime('%Y/%m/%d') %></td>
              </tr>
               
              <% if @question.user == current_user %>
            <tr><td>
              <%= link_to question_path(@question.id), method: :delete, data: {confirm: "削除しますか？"}  do %>
              <i class="fa-solid fa-trash-can"></i>
              <% end %></td>
              </tr>
              <% end %>

       </tbody>
     </table>
     
     <div class="row">
    <%= link_to  new_question_answer_path(@question.id),class:"btn btn-outline-secondary btn-block" do %>
    <!-- <i class="fa-solid fa-user-gear"></i>-->
    回答
    <% end %>
    </div>
     
    
     <table class="table">
      <tbody>
            <% @question.answers.each do |answer| %>
              <tr><td>
              <%= answer.user.name %></td></tr>
               <tr><td>
              <%= answer.answer_content %></td></tr>
            <% if answer.user == current_user %>
               <tr><td>
              <%= link_to question_path(answer.question.id), method: :delete, data: {confirm: "削除しますか"}  do %>
               <i class="fa-solid fa-trash-can"></i>
              <% end %></td></tr>
              <% end %>
            <% if @question.user == current_user %>
               <%= form_with model: [answer, AnswerComment.new] do |f| %>
                 <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
                 <%= f.submit "送信する" %>
               <% end %>
              <% end %>
            <% @answer.answer_comments.each do |answer_comment| %>
               <%= answer_comment.user.name %>
               <%= answer_comment.created_at.strftime('%Y/%m/%d') %>
               <%= answer_comment.comment %>
            <% end %>
           <% end %>
       </tbody>
     </table>
    
    
    </div>
  </div>
</div>