

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-7 px-5 px-sm-0 mx-auto">
  <h2>User info</h2>
<div>
  
  <table class="table">
   <tbody><tr></tr>
    <tr>
      <th>名前</th>
     <th><%= @user.name %></th> 
    </tr>
    <tr>
      <th>自己紹介</th>
      <th><%= @user.introduction %></th> 
    </tr>
    </tbody></table>
</div>
<div class="col-sm-12 col-md-8 col-lg-7 px-5 px-sm-0 mx-auto">
    <%= link_to  edit_user_path,class:"btn btn-outline-secondary btn-block" do %>
    <i class="fa-solid fa-user-gear"></i>
    <% end %>
    <%= link_to "退会する", withdrawl_user_path(@user.id), method: :patch, data: { confirm: '本当に削除しますか？' }  %>
</div>

    </div>
    
    <!-- ユーザーの投稿一覧 -->
 <div class="col-md-8 offset-md-1">
  <h2>UsersQuestion</h2>

      <table class="table table-hover table-inverse">

 
       <tbody>
       <% @questions.each do |question| %>
         <tr>
            <td><%=link_to question.question_content, question_path(question.id) %>
            <%= question.created_at.strftime('%Y/%m/%d') %></td>
         </tr>

       <% end %>
       </tbody>
     </table>
     <h2>UsersAnswer</h2>

      <table class="table table-hover table-inverse">

 
       <tbody>
       <% @answers.each do |answer| %>
         <tr>
            <td><%=link_to answer.answer_content, question_path(answer.question.id) %>
            <%= answer.created_at.strftime('%Y/%m/%d') %></td>
         </tr>

       <% end %>
       </tbody>
     </table> 
     
    

 </div>
    
    
    
  </div>
 
</div>