<style>
  .bg00 {background: url("<%= asset_path('buncyo.jpeg') %>") #E5CBB2 no-repeat bottom right/ contain;}
 </style>

<div class="container-fluid my-5 bg00">
<div class="row py-3 px-3">

 <div class="rounded border col-sm-12 col-md-8 col-lg-7 mx-auto px-4 bg-white text-dark shadow">
  <div class="col-12 border px-3 my-3 bg-light text-dark text-center">
    <h2>User info</h2>
  </div>
    
  <div class="d-flex">
    <div class="flex-shrink-0 ">
     <div class="d-flex justify-content-end">
        <%= image_tag @user.get_image_icon(100,100) %>
     </div>
    </div>
   <div class="flex-grow-1 ms-3 ">
     <table class="table">
       <tbody>
        <tr>
         <td>名前</td>
         <td><%= @user.name %></td>
        </tr>
        <tr>
         <td>自己紹介</td>
         <td><%= @user.introduction %></td>
        </tr>
       </tbody>
      </table>
    <div class="d-flex justify-content-end">
      <div class="col-4 p-3">
      <%= link_to  edit_user_path,class:"btn btn-outline-secondary btn-block" do %>
        <i class="fa-solid fa-user-gear"></i>
      <% end %>
      <%= link_to "退会する", withdrawl_user_path(@user.id), method: :patch, data: { confirm: '本当に削除しますか？' }  %>
      </div>
    </div>
   </div>
  </div>
 </div>
</div>


    <!-- ユーザーの投稿一覧 -->
<div class="row py-3 px-3">

<div class="rounded border col-md-8 mx-auto p-4 bg-white text-dark shadow">
  
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="q-tab" data-bs-toggle="tab" data-bs-target="#q-tab-pane" type="button" role="tab" aria-controls="q-tab-pane" aria-selected="true">質問</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="a-tab" data-bs-toggle="tab" data-bs-target="#a-tab-pane" type="button" role="tab" aria-controls="a-tab-pane" aria-selected="false">回答</button>
    </li>
  </ul>

<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="q-tab-pane" role="tabpanel" aria-labelledby="q-tab" tabindex="0">

      <table class="table table-hover table-inverse">
       <tbody>
       <% @questions.each do |question| %>
         <tr>
            <td><%=link_to question.question_content, question_path(question.id) %>
            <%= question.created_at.strftime('%Y/%m/%d') %></td>
         </tr>

       <% end %>
       </tbody>
     </table>
  </div>

  <div class="tab-pane fade" id="a-tab-pane" role="tabpanel" aria-labelledby="a-tab" tabindex="0">

      <table class="table table-hover table-inverse">
       <tbody>
       <% @answers.each do |answer| %>
         <tr>
            <td><%=link_to answer.answer_content, question_path(answer.question.id) %>
            <%= answer.created_at.strftime('%Y/%m/%d') %></td>
         </tr>

       <% end %>
       </tbody>
     </table>
  </div>
</div>


 </div>

  </div>
</div>
