<!DOCTYPE html>
<html>
  <head>
    <title>Finch</title>


    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <script src="https://kit.fontawesome.com/e2c9f13b1d.js" crossorigin="anonymous"></script>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

    <style>
  header {
  background-image: url("<%= asset_path('buncyo.jpg') %>");
  background-position: center 40%;
  background-repeat: no-repeat;
  background-size: cover;
   }
  </style>


  <body class="d-flex flex-column vh-100">
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid my-5 img1">
          <a class="navbar-brand p-3" href="/"><%= image_tag 'logo8.png', class:'logo' %></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto">
            <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to 'マイページ', user_path(current_user.id), class: 'nav-link text-white' %>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav-link text-white' %>
            </li>
            <% else %>
            <li class="nav-item">
              <%= link_to "新規登録", new_user_registration_path, class: 'nav-link text-white' %>
            </li>
            <li class="nav-item">
              <%= link_to "ログイン", new_user_session_path, class: 'nav-link text-white' %>
            </li>
            <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <header2 class="shadow-sm">
      <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
          <div class="search_form d-flex">
            <%= form_with url: search_path, local: true, method: :get do |f| %>
            <%= f.text_field :word , class:"form-control me-2" ,placeholder:"Q＆Aを探す" %>
            <%= f.select :range, options_for_select([['Question'], ['User']]) ,class:"form-control me-2" %>
            <%= f.select :search, options_for_select([["完全一致","perfect_match"], ["前方一致","forward_match"],  ["後方一致","backward_match"], ["部分一致","partial_match"]]) %>
            <%= f.submit "検索", class: "btn btn-outline-success" %>
            <% end %>
           </div>
          <div class="justify-content">
           <ul class="navbar-nav">
            <div class="d-flex">
              <div class="p-2">
               <a class="nav-item nav-link active" aria-current="page" href='/questions'>Q&A一覧</a>
              </div>
              <div class="p-2">
               <a class="nav-item nav-link active" aria-current="page" href="/categories">カテゴリ一覧</a>
              </div>
              <div class="p-2">
               <a class="nav-item nav-link disabled" aria-current="page" href="#"></a>
              </div>
            </div>
           </ul>
          </div>
           <form>
           <%= link_to new_question_path,class:"nav-link text-light" do %>
           <button class="btn btn-outline-success me-2" type="button">質問・相談　</button>
            <% end %>
           </form>
          </div>
         </nav>
        </div>
    </header2>

    <body>

    <%= yield %>

    </body>

    <footer class="bg-dark text-white pt-3 pb-3">
      <div class="container">
        <div class="row no-gutters justify-content-between">

          <div class="col-md-6">
            <p>文鳥をより知っていけるコミュニティサイト</p>
            <%= image_tag('logo4.png') %>
          </div>
          <div class="col-md-1 pull-right">
            <a class="navbar-brand p-3" href="/admin/sign_in"><%= image_tag 'logo7.png', :size =>'50x50',class:'logo'%></a>
          </div>
        </div>
      </div>
    </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>

</html>
